{% extends 'base.html' %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block more_css %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}" />
    {% endblock more_css %}
    <title>{% block title %}Home{% endblock title %}</title>
  </head>
  <body>
    {% comment %} {% block content %}
    <section class="hero">
      <img class="main-img" src='{% static "home/images/hero.jpg" %}' alt="" />
      <div class="fade-layer"></div>
      <img
        class="main-img-hexagons"
        src="{% static 'svgs/Union.svg' %}"
        alt=""
      />
      {% endblock content %} {% endcomment %}
    </section>
  </body>
</html>
