.item-text > div {
  line-height: 1.5rem;
}
.industrial-tech-wrapper > .container > p:last-of-type {
  margin-bottom: 2.5rem;
  margin-top: 0;
}

/* media */

@media screen and (min-width: 576px) {
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 992px) {
  .item-img {
    width: 45%;
  }
}
@media screen and (min-width: 1200px) {
}
@media screen and (min-width: 1400px) {
}
