@font-face {
  font-family: V;
  src: url(../fonts/Vazir.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Vthin;
  src: url(../fonts/Vazir-Thin.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Vlight;
  src: url(../fonts/Vazir-Light.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Vmedium;
  src: url(../fonts/Vazir-Medium.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Vbold;
  src: url(../fonts/Vazir-Bold.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: nastaliq;
  src: url(../fonts/IranNastaliq.ttf);
  font-weight: normal;
  font-style: normal;
}
.title {
  flex-direction: row-reverse;
}
/* title with three hexagon icons  */
.title > h2 {
  padding-left: 0;
  padding-right: 0.5rem;
}
#company-name {
  position: absolute;
  right: -0.8rem;
  left: unset;
  bottom: 3.5rem;
  display: none;
}
.company-fa-name {
  font-family: nastaliq;
  position: absolute;
  color: black;
  display: none;
}
.company-fa-name:nth-child(1) {
  right: 9rem;
  top: 2.5rem;
  font-size: 26px;
}
.company-fa-name:nth-child(2) {
  right: 9rem;
  top: 5.5rem;
  font-size: 16px;
}
#logo {
  position: absolute;
  left: 4rem;
  right: unset;
  bottom: 0rem;
  width: 260px;
}

p,
h4,
h3,
h2,
h1,
li,
a,
span {
  direction: rtl;
  text-align: start;
  font-family: Vmedium, sans-serif;
  letter-spacing: normal;
}
h2 {
  font-family: Vmedium, sans-serif;
  font-weight: 700;
}
p {
  font-family: Vlight;
}

/* advantages & disadvantages  */
.dis-advantages-title {
  justify-content: flex-start;
  flex-direction: row-reverse;
  direction: ltr;
}
.advantages-disadvantages-wrapper,
.dis-advantages-body-option {
  flex-direction: row-reverse;
}
.dis-advantages-title > h3 {
  padding-left: 0;
  padding-right: 0.5rem;
}
.title > img {
  width: 25px !important;
}
@supports (-webkit-touch-callout: none) {
  /* CSS specific to iOS devices */
  h2 {
    font-family: Vbold, sans-serif;
    font-weight: 900;
  }
}
/* media  */

@media screen and (max-width: 576px) {
}
@media screen and (min-width: 576px) {
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 992px) {
  .company-fa-name,
  #company-name {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
}
@media screen and (min-width: 1400px) {
}
