:root {
  /* --darkBlue: #081142; */
  --darkBlue: #00006a;
  --lightBlue: #2fa3ee;
  --green: #89c958;
}
/* fot small hexagon main color  */
.light-green {
  filter: invert(96%) sepia(69%) saturate(1055%) hue-rotate(32deg)
    brightness(93%) contrast(67%);
}
.stay-ltr p,
h2,
h3 {
  direction: ltr;
}
.stay-ltr h3 {
  direction: ltr;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* mobile viewport display none  */
.md-none {
  display: none;
}
html {
  font-family: "Varela Round", sans-serif;
  font-family: "Roboto", sans-serif;
  /* font-family: "Merriweather Sans", sans-serif; */
  background: #ffffff;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  /* height: 6000px; */
  margin-bottom: 5rem;
}
.container {
  width: 90%;
  margin: 0 auto;
}
.d-flex {
  display: flex;
}
d-none {
  display: none;
}
body {
  position: relative;
}
a {
  color: white;
}
p {
  color: #5a5a5a;
}
p,
a {
  font-size: 14px;
  letter-spacing: 0.02rem;
  line-height: 1.5rem;
  font-weight: 400;
  text-decoration: none;
}
li {
  list-style-type: none;
}
h3 {
  font-size: 18px;
  color: #010630;
  font-weight: 700;
}
h2 {
  color: #010630;
}

/* mobile page titles  */
.page-title {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page-title > h4 {
  position: absolute;
  font-size: 14px;
  bottom: 50%;
  color: white;
  text-align: center;
}

/* page intro */
.intro {
  display: flex;
  flex-direction: column;
  padding: 3rem 0;
}
.intro > ul {
  margin: 2rem 0;
  line-height: 2rem;
}
.intro > ul > li {
  display: flex;
  align-items: center;
}
.intro > ul > li > img {
  padding-right: 0.5rem;
}
.intro > img {
  width: 100%;
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 2rem;
}

/* title with three hexagon icons  */
.title {
  color: #040452;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  width: 100%;
}
.title > h2 {
  padding-left: 0.5rem;
}

header {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 10vh;
  background: var(--darkBlue);
}

/* change language btn  */
.lan-changer {
  position: absolute;
  top: 11.5%;
  right: 200px;
  display: none;
  align-items: center;
  justify-content: space-between;
}
.lan-changer > h3 {
  color: white;
  padding: 0 0.3rem;
  font-family: "Roboto", sans-serif;
}

nav {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 92%;
  height: 108px;
  background: white;
  margin-top: 1rem;
  border-radius: 0.75rem;
  box-shadow: 0px 4px 20px 20px rgba(66, 66, 66, 0.23);
}

/* company name  */
#company-name {
  position: absolute;
  left: -0.8rem;
  bottom: 3.5rem;
  display: none;
}

#logo {
  position: absolute;
  right: 4rem;
  bottom: 0rem;
  width: 260px;
  display: none;
}
nav > .img__btns {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.img__btns > #mobile-menu-btn,
.lan-changer-mobile,
.lan-changer-mobile > img {
  width: 25px;
  height: 40px;
  opacity: 1;
  transition: 0.25s ease-in-out;
}
.img__btns > #logo {
  width: 180px;
  display: block;
  position: unset;
}

.mobile-curved-bg {
  position: relative;
  margin-top: -2.5rem;
  width: 100%;
  background: #ffffff;
  border-radius: 18px;
}

.blue-fade-layer {
  box-shadow: inset 0px 4px 250px 50px rgba(0, 0, 106, 0.37);
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(9, 34, 133, 0.377);
  z-index: -1;
}

.curved-req {
  position: absolute;
  width: 100.5%;
}
.curved-req:last-of-type {
  bottom: -1rem;
}
.curved-req:last-of-type {
  transform: rotate(180deg);
}

/* advantages & disadvantages  */
.dis-advantages-wrapper {
  margin: 2.5rem 0;
}
.dis-advantages-title,
.dis-advantages-body {
  display: flex;
  align-items: center;
}
.dis-advantages-title > h3 {
  padding-left: 0.5rem;
  color: #cf5048;
}
.advantages-title > h3 {
  padding-left: 0.5rem;
  color: var(--green);
}
.dis-advantages-body {
  flex-direction: column;
  margin-top: 1rem;
}
.dis-advantages-body-option {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 0.5rem 0;
}
.dis-advantages-body-option > p {
  font-size: 13px;
  width: 93%;
}

/* media  */

@media screen and (max-width: 576px) {
}
@media screen and (min-width: 576px) {
  .container {
    width: 80%;
  }

  .intro > img {
    width: 50%;
  }
}
@media screen and (min-width: 768px) {
  #mobile-menu {
    display: none;
  }
  p,
  a {
    font-size: 16px;
  }
  .title > img {
    width: 25px;
  }

  /* advantages & disadvantages  */
  .dis-advantages-title > h3 {
    font-size: 24px;
  }
}
@media screen and (min-width: 992px) {
  .md-none {
    display: block;
  }
  p,
  a {
    font-size: 17px;
  }
  #mobile-menu-btn {
    display: none;
  }
  header {
    height: 110px;
  }
  nav {
    width: 94%;
    height: 176px;
    margin-top: 3rem;
  }
  #company-name,
  #company-name-fa,
  #logo {
    display: block;
  }
  .navbar {
    display: flex;
  }
  .img__btns > #logo {
    display: none;
  }
  .lan-changer-mobile {
    display: none;
  }
  .lan-changer {
    display: flex;
  }
  .title > h2 {
    font-size: 30px !important;
  }
  .item-text {
    width: 50%;
  }

  /* advantages & disadvantages  */
  .advantages-disadvantages-wrapper {
    display: flex;
  }
  .dis-advantages-wrapper {
    width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 75%;
  }
}
@media screen and (min-width: 1400px) {
}
