.hero {
  width: 100%;
  height: 340px;
  position: relative;
}
.main-img-wrapper {
  position: relative;
  max-width: 100%;
  height: 100%;
}
.img {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}
.main-img {
  width: 100%;
  height: 100%;
  z-index: -1;
}
.fade-layer {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(35, 35, 35, 0.788);
}
.main-img-hexagons-right {
  position: absolute;
  /* width: 100%; */
  right: 0rem;
  bottom: -2rem;
}
.main-img-hexagons-left {
  position: absolute;
  /* width: 100%; */
  top: -2rem;
  left: -1rem;
}
.desktop-hero-hexa {
  position: absolute;
  width: 100%;
  bottom: 1rem;
  right: 0;
  display: none;
}

/* media  */

@media screen and (min-width: 576px) {
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 992px) {
  .hero {
    height: 110vh;
    position: relative;
  }
  .main-img-hexagons-right,
  .main-img-hexagons-left {
    display: none;
  }
  .desktop-hero-hexa {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
}
@media screen and (min-width: 1400px) {
}
