{% extends 'base.html' %} {% load i18n %} {% load static %}
{% block translateFa %}{% url 'product-and-services:under-water-inspection' %}{% endblock translateFa %} 
{% block translateEn %}{% url 'product-and-services:under-water-inspection' %}{% endblock translateEn %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} Under Water Inspection {% endblock title %}</title>
    {% block more_css %}

    <link
      rel="stylesheet"
      href="{% static 'product_and_services/oil_and_gas/under-water-inspection/css/under-water-inspection.css' %}"
    />
     {% if LANGUAGE_CODE == 'fa' %}
        <link rel="stylesheet" href="{% static 'product_and_services/oil_and_gas/under-water-inspection/css/under-water-inspection-fa.css' %}">
  {% endif %}
    {% endblock more_css %}
  </head>
  <body>
    {% block content %} {% include 'inc/hero.html' with img='product_and_services/oil_and_gas/under-water-inspection/images/under-water-inspection-hero.jpg' %}
    <div class="mobile-curved-bg">
      <div class="container">
        <div class="page-title">
          <img src="/static/svgs/mobile-page-title.svg" alt="page title" />
          <h4>{% trans "Under Water Inspection-ROV" %}</h4>
        </div>
        <div class="under-water-inspection-intro">
          <p>
            {% trans "Measurement of magnetic distortion of buried lines up to 10 times the diameter of the pipe is possible. obtained results in the inspection of buried pipelines have been satisfactory for the operators." %}
          </p>
          <br />
          <p>
            {% trans "Offshore pipeline inspection can be operated by scuba diver or mounted on a ROV." %}
          </p>
          
          <img src="{% static 'product_and_services/oil_and_gas/under-water-inspection/images/diver.jpg' %}" alt="diver">
        </div>

        <div class="inspection-stages-wrapper">
          <div class="inspection-stage">
          <div class="stage-title">
            <h3>
              {% trans "STAGE" %} <br />
              {% trans "I" %}
            </h3>
            <img
              src="{% static 'product_and_services/oil_and_gas/under-water-inspection/svg/stages-hexa.svg' %}"
              alt="stage icon"
            />
          </div>
          <div class="stage-body">
            <h3>{% trans "Preparation :" %}</h3>
            <p>
              {% trans "Collecting and analysis of all necessary information about the pipeline and preparing the equipment." %}
            </p>
          </div>
        </div>
        <div class="inspection-stage">
          <div class="stage-title">
            <h3>{% trans "STAGE" %}<br />{% trans "II" %}</h3>
            <img
              src="{% static 'product_and_services/oil_and_gas/under-water-inspection/svg/stages-hexa.svg' %}"
              alt="stage icon"
            />
          </div>
          <div class="stage-body">
            <h3>{% trans "Field :" %}</h3>

            <div>
              <img src="{% static 'svgs/s-green-hexa.svg' %}" alt="small green hexa" />
              <p>{% trans "Visual survey of trace with photo-video-recording" %}</p>
            </div>
            <br />
            <div>
              <img src="{% static 'svgs/s-green-hexa.svg' %}" alt="small green hexa" />
              <p>{% trans "Contactless magnetometric inspection with KMD-02R." %}</p>
            </div>
          </div>
        </div>
        <div class="inspection-stage">
          <div class="stage-title">
            <h3>{% trans "STAGE" %}<br />{% trans "III" %}</h3>
            <img
              src="{% static 'product_and_services/oil_and_gas/under-water-inspection/svg/stages-hexa.svg' %}"
              alt="stage icon"
            />
          </div>
          <div class="stage-body">
            <h3>{% trans "Express-Analysis :" %}</h3>
            <p>{% trans "Express analysis of the magnetometric." %}</p>
          </div>
        </div>
        <div class="inspection-stage">
          <div class="stage-title">
            <h3>{% trans "STAGE" %}<br />{% trans "VI" %}</h3>
            <img
              src="{% static 'product_and_services/oil_and_gas/under-water-inspection/svg/stages-hexa.svg' %}"
              alt="stage icon"
            />
          </div>
          <div class="stage-body">
            <h3>{% trans "AFDT :" %}</h3>
            <p>
              {% trans "By the request of the Customer Additional Flaw Detect Tests by non-destructive(NDT) contact methods can be executed - measuring of the thickness and hardness etc." %}
            </p>
          </div>
        </div>
        <div class="inspection-stage">
          <div class="stage-title">
            <h3>{% trans "STAGE" %}<br />{% trans "V" %}</h3>
            <img
              src="{% static 'product_and_services/oil_and_gas/under-water-inspection/svg/stages-hexa.svg' %}"
              alt="stage icon"
            />
          </div>
          <div class="stage-body">
            <h3>{% trans "Data Processing :" %}</h3>
            <p>
              {% trans "The processing and interpretation of the received data is held in the Analytic Center." %}
            </p>
          </div>
        </div>
        <div class="inspection-stage">
          <div class="stage-title">
            <h3>{% trans "STAGE" %}<br />{% trans "VI" %}</h3>
            <img
              src="{% static 'product_and_services/oil_and_gas/under-water-inspection/svg/stages-hexa.svg' %}"
              alt="stage icon"
            />
          </div>
          <div class="stage-body">
            <h3>{% trans "Report :" %}</h3>
            <p>
              {% trans "The report and the final condition conclusion on the technical state of the pipeline including the digital maps of the detected anomalies is made." %}
            </p>
          </div>
        </div>
        </div>
      </div>
    </div>
    {% endblock content %}
  </body>
</html>
