.main-img {
  position: absolute;
  object-fit: cover;
}
.values-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 350px;
  border-radius: 25px;
  margin: 12rem 0;
  /* margin: 8rem 0; */
  position: relative;
  background-image: url(../images/gas-pipeline-ai.png);
  background-size: cover;
}
.values-text {
  right: unset;
  /* left: 3rem; */
  /* width: 40%; */
  color: white;
  position: absolute;
  padding: 1rem 0.5rem;
  bottom: 0;
  /* top: 50%;
  transform: translate(0, -50%); */
}
.values-text > p {
  font-size: 18px;
  /* font-size: 22px; */
  color: white;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: 0.5rem;
  /* line-height: 2.5rem; */
  font-weight: 500;
}
.values,
.values-body,
#values-logo {
  position: absolute;
  width: 120px;
  height: 120px;
}
.values-body {
  top: -3.3rem;
  /* right: 12rem;
  top: 50%;
  transform: translate(0, -50%); */
}
/* img[id^="value"]:not(#values-logo) {
  opacity: 0;
} */
#value-1 {
  left: -4rem;
  bottom: -6.3rem;
  /* left: -5rem;
  bottom: -9rem; */
}
#value-2 {
  left: -7.2rem;
  /* left: -10em; */
}
#value-3 {
  left: -4rem;
  top: -6.3rem;
  /* left: -5rem;
  top: -9rem; */
}
#value-4 {
  right: -4rem;
  top: -6.3rem;
  /* left: 5rem;
  top: -9rem; */
}
#value-5 {
  right: -7.2rem;
  /* right: -10em; */
}
#value-6 {
  right: -4rem;
  bottom: -6.3rem;
  /* right: -5rem;
  bottom: -9rem; */
}

.founder-card {
  position: relative;
  width: 100%;
  /* height: 255px; */
  border-radius: 8px;
  margin-top: 7rem;
  background: #ffffff;
  border: 3px solid #00006a;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.246);
}
.title-green-rec {
  position: absolute;
  left: 0;
}
.founder-card-img {
  position: absolute;
  right: -1rem;
  top: -3.4rem;
}
.founder-card-img {
  width: 133px;
  height: 133px;
}
.founder-card-title {
  position: absolute;
  top: -1rem;
  left: -0.5rem;
  width: 85%;
  height: 54px;
  background: var(--darkBlue);
  color: white;
  border-radius: 8px;
  padding: 0.5rem;
  line-height: 1.2rem;
}
.founder-card-title h3 {
  color: white;
  font-size: 16px;
  padding-left: 0.4rem;
}
.founder-card-title p {
  color: white;
  font-size: 10px;
  padding-left: 0.4rem;
}

.founder-card-body {
  width: 90%;
  margin: 1.2rem auto;
  margin-top: 4rem;

  color: #454545;
}
.card-body-info {
  display: flex;
  padding: 0.75rem 0;
  line-height: 1.3rem;
}
.card-body-info img {
  padding-right: 0.45rem;
  align-self: flex-start;
  margin-top: 0.2rem;
}
/* history */
.title {
  margin-top: 8rem;
}
.history,
.partner-companies {
  width: 90%;
  margin: 0 auto;
  margin-top: 2rem;
  line-height: 1.5rem;
}
/* .history p {
  font-weight: 600;
} */
.history-title,
.partners-title {
  display: flex;
  align-items: center;
  margin: 5rem 0 2rem 0;
}
/* .history-title h2,
.partners-title h2 {
  color: var(--darkBlue);
  padding-left: 0.5rem;
  font-size: 18px;
  font-weight: 900;
} */
.history-title img,
.partners-title img {
  position: absolute;
  left: 0rem;
}
/* contact div  */
.contact-us {
  position: relative;
  background-image: url(../images/connectwork.png);
  background-size: 70%;
  width: 100%;
  max-width: 800px;
  border-radius: 8px;
  margin: 8rem auto;
  padding: 1.5rem;
}
.contact-us-hexa:nth-child(1) {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
.contact-us-hexa:nth-child(2) {
  position: absolute;
  left: 0;
  bottom: 3rem;
  z-index: 0;
}
.contact-us p {
  z-index: 2;
  color: white;
  line-height: 1.5rem;
}
.contact-us-header {
  position: absolute;
  color: var(--darkBlue);
  background: var(--green);
  width: 50%;
  border-radius: 8px;
  font-weight: bolder;
  text-align: center;
  padding: 10px 15px;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: -1rem;
}
.address,
.phone,
.email,
.fax {
  margin-top: 2rem;
  display: flex;
}
.address img,
.phone img,
.email img,
.fax img {
  align-self: flex-start;
  margin-top: 0.2rem;
}
.address p,
.phone p,
.email a,
.fax p {
  padding-left: 0.8rem;
  z-index: 5;
}
.email {
  margin-bottom: 0.5rem;
}
.address > div > h4 {
  color: white;
  padding-left: 0.8rem;
  margin-bottom: 0.5rem;
}

/* media  */

@media screen and (min-width: 576px) {
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 992px) {
  #value-1 {
    left: -6.3rem;
    bottom: -11rem;
  }
  #value-2 {
    left: -12rem;
  }
  #value-3 {
    left: -6.3rem;
    top: -11rem;
  }
  #value-4 {
    left: 6.5rem;
    top: -11rem;
  }
  #value-5 {
    right: -12em;
  }
  #value-6 {
    right: -6.3rem;
    bottom: -11rem;
  }
  .values-wrapper {
    margin: 8rem 0;
  }
  .values,
  .values-body,
  #values-logo {
    position: absolute;
    width: 200px;
    height: 200px;
  }
  .values-body {
    right: 12rem;
    top: 50%;
    transform: translate(0, -50%);
  }
  .values-text {
    right: unset;
    left: 3rem;
    width: 40%;
    color: white;
    position: absolute;
    padding: 1rem 0.5rem;
    top: 50%;
    transform: translate(0, -50%);
  }
  .values-text > p {
    font-size: 22px;
    color: white;
    line-height: 2.5rem;
    font-weight: 500;
  }
}
@media screen and (min-width: 1200px) {
}
@media screen and (min-width: 1400px) {
}
