.card-body-info,
.address,
.phone,
.email,
.fax,
.history-title,
.partners-title {
  flex-direction: row-reverse;
}
.card-body-info > img {
  padding-right: 0;
  padding-left: 0.45rem;
}
.founder-card-title {
  left: unset;
  right: -0.5rem;
}
.founder-card-title h3,
.founder-card-title p {
  padding-left: 0;
  padding-right: 0.4rem;
}
.title-green-rec {
  right: -0.05rem;
  left: unset;
  transform: rotate(180deg);
}
.founder-card-img {
  left: -1rem;
  right: 0;
}
.history > p,
.partner-companies > p {
  margin-right: 2rem;
}
.history-title img,
.partners-title img {
  right: -0.5rem;
  left: unset;
}
.address > div > h4,
.phone > p,
.email > a,
.fax p {
  padding-left: 0;
  padding-right: 0.8rem;
}

.values-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 350px;
  border-radius: 25px;
  margin: 12rem 0;
  position: relative;
  background-image: url(../images/gas-pipeline-ai.webp);
  background-size: cover;
}

.values-text {
  right: unset;
  color: white;
  position: absolute;
  padding: 1rem 0.5rem;
  bottom: 0;
}
.values-text > p {
  font-size: 18px;
  color: white;
  line-height: 1.7rem;
  margin-bottom: 1.5rem;
  margin-right: 0.5rem;
  font-weight: 500;
  font-family: Vbold;
}
.values,
.values-body,
#values-logo {
  position: absolute;
  width: 120px;
  height: 120px;
}
.values-body {
  top: -3.3rem;
}
#value-1-fa {
  left: -4rem;
  bottom: -6.3rem;
}
#value-2-fa {
  left: -7.2rem;
}
#value-3-fa {
  left: -4rem;
  top: -6.3rem;
}
#value-4-fa {
  right: -4rem;
  top: -6.3rem;
}
#value-5-fa {
  right: -7.2rem;
}
#value-6-fa {
  right: -4rem;
  bottom: -6.3rem;
}

/* media  */

@media screen and (min-width: 576px) {
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 992px) {
  .values-wrapper {
    margin: 8rem 0;
    background-image: url(../images/gas-pipeline-ai-fa.webp);
  }
  .values,
  .values-body,
  #values-logo {
    position: absolute;
    width: 200px;
    height: 200px;
  }
  .values-body {
    left: 12rem;
    top: 50%;
    transform: translate(0, -50%);
  }
  .values-text {
    left: unset;
    right: 3rem;
    width: 43%;
  }
  .values-text > p {
    font-family: Vbold;
  }
  #value-1-fa {
    left: -6.3rem;
    bottom: -11rem;
  }
  #value-2-fa {
    left: -12rem;
  }
  #value-3-fa {
    left: -6.3rem;
    top: -11rem;
  }
  #value-4-fa {
    left: 6.5rem;
    top: -11rem;
  }
  #value-5-fa {
    right: -12em;
  }
  #value-6-fa {
    right: -6.3rem;
    bottom: -11rem;
  }
  .values-text {
    left: unset;
    right: 3rem;
    width: 40%;
    color: white;
    width: 43%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }
  .values-text > p {
    font-size: 22px;
    line-height: 2.5rem;
    margin-bottom: 0rem;
    margin-right: 0rem;
  }
}
@media screen and (min-width: 1200px) {
}
@media screen and (min-width: 1400px) {
}
