#value-1 {
  left: -5rem;
  bottom: -9rem;
}
#value-2 {
  left: -10em;
}
#value-3 {
  left: -5rem;
  top: -9rem;
}
#value-4 {
  left: 5rem;
  top: -9rem;
}
#value-5 {
  right: -10em;
}
#value-6 {
  right: -5rem;
  bottom: -9rem;
}
.values-wrapper {
  background-image: url(../images/gas-pipeline-ai-fa.png);
}
.values-text > p {
  font-family: Vbold;
}
.values-body {
  left: 12rem;
}
.values-text {
  left: unset;
  right: 3rem;
}

.card-body-info,
.address,
.phone,
.email,
.fax,
.history-title,
.partners-title {
  flex-direction: row-reverse;
}
.card-body-info > img {
  padding-right: 0;
  padding-left: 0.45rem;
}
.founder-card-title {
  left: unset;
  right: -0.5rem;
}
.founder-card-title h3,
p {
  padding-left: 0;
  padding-right: 0.4rem;
}
.title-green-rec {
  right: -0.05rem;
  left: unset;
  transform: rotate(180deg);
}
.founder-card-img {
  left: -1rem;
  right: 0;
}
.history-title img,
.partners-title img {
  right: -0.5rem;
  left: unset;
}
.address > div > h4,
.phone > p,
.email > a,
.fax p {
  padding-left: 0;
  padding-right: 0.8rem;
}
