@font-face {
  font-family: V;
  src: url("../fonts/Vazir.331c39315fd6.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Vthin;
  src: url("../fonts/Vazir-Thin.7c81b653d9a4.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Vlight;
  src: url("../fonts/Vazir-Light.6c0a5ff35524.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Vmedium;
  src: url("../fonts/Vazir-Medium.f2bd4a28e444.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Vbold;
  src: url("../fonts/Vazir-Bold.06d42e475259.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

p,
h4,
h3,
h2,
h1,
li,
a,
span {
  direction: rtl;
  font-family: Vmedium, sans-serif;
}
