#mobile-menu {
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  background: rgba(0, 0, 106, 0.94);
  width: 100%;
  height: 100vh;
  z-index: 5;
  right: -100vw;
  transition: 0.15s cubic-bezier(0.73, 0.09, 0.01, 0.92);
}

#close-menu-btn {
  opacity: 0;
  transition: 0.25s ease-in-out;
}

#go-back-btn {
  display: none;
  opacity: 0;
  transition: 0.25s ease-in;
}

#menu__btns {
  width: 76%;
  height: 3rem;
  margin: 3rem auto;
  margin-bottom: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#menu-list p,
#menu-sub-list p,
#menu-sub-list a {
  font-family: Vbold;
  font-size: 1.125rem;
  font-weight: 600 !important;
}

#menu-list,
#menu-sub-list,
#menu-sub-list-sub,
#menu-sub-list-sub>ul {
  width: 76%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2.5rem auto;
  color: white;
  gap: 4rem;
  font-weight: 600;
  display: none;
}

#menu-list li a p,
#menu-list li p,
#menu-sub-list li p,
#menu-sub-list-sub ul li a {
  font-family: Vbold;
  font-size: 18px !important;
  color: white;
}

#menu-list li,
#menu-list li a,
#menu-sub-list li,
#menu-sub-list-sub ul li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

#menu-sub-list-sub ul li img {
  align-self: flex-start;
  margin-top: 0.4rem;
}

#menu-sub-list-sub ul {
  width: 100%;
  gap: 3rem;
  margin: 0 auto;
}

#menu-sub-list-sub ul li {
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

#sub-menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}