.stage-body > div {
  flex-direction: row-reverse;
}

/* media  */

@media screen and (min-width: 576px) {
  .inspection-stage {
    flex-direction: row-reverse;
    margin: 2rem 0;
  }
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 992px) {
  .inspection-stage {
    margin: 4rem 0;
  }
}
@media screen and (min-width: 1200px) {
  .inspection-stages-wrapper {
    flex-direction: row-reverse;
  }
}
@media screen and (min-width: 1400px) {
}
