.main-img {
  position: absolute;
  transform: scale(1.5);
  width: 100%;
  right: 15%;
  bottom: 15%;
}
.page-title {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inline-inspect-intro {
  padding: 3rem 0;
}
.inline-inspect-intro > ul {
  margin: 2rem 0;
  line-height: 2rem;
}
.inline-inspect-intro > ul > li {
  display: flex;
  align-items: center;
}
.inline-inspect-intro > ul > li > img {
  padding-top: 0.2rem;
  padding-right: 0.5rem;
}
.pig-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-self: center; */
  /* align-items: center; */
}
.pig-wrapper > .title {
  align-self: flex-start;
  align-items: center;
}
.pig-wrapper > .title > h3 {
  display: flex;
  align-items: center;
}
.pig-wrapper > .title > h3 > span {
  font-size: 12px;
  padding-left: 0.2rem;
}
.pig-info {
  display: flex;
  flex-direction: column;
}
.pig-info > img {
  margin: 2.5rem auto;
  width: 90%;
}
.magnetization-card {
  width: 100%;
  background: var(--darkBlue);
  border-radius: 8px;
  outline: 3px solid #2fa3ee;
  margin: 2.5rem 0;
}
.card-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem 0;
}
.card-title > h3 {
  color: white;
  padding-left: 0.5rem;
}
.card-body {
  padding: 0 1rem 1.5rem;
}
.card-body > p {
  margin-top: -1rem;
  color: white;
}
.card-body > img {
  width: 100%;
}
/* .axial {
  display: flex;
  justify-content: center;
  align-items: center;
}
.axial > img {
  width: 50%;
}
.axial > p {
  font-size: 14px;
  background: red;
} */
.tfi-mfl-comparison {
  position: relative;
  width: 100%;
  height: 600px;
}
.tfi-mfl-comparison > img {
  width: 100%;
  height: 100%;
}
.fade-layer {
  position: absolute;
  height: 100%;
  /* background: rgba(21, 21, 21, 0.86); */
}
.pig-blue-print-wrapper {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pig-blue-print {
  width: 50%;
}
.flux {
  width: 100%;
}
.mfl-tfi-comparison {
  position: relative;
  background-image: url("../images/connectwork.2afaf81ac14b.png");
  margin: 2.5rem 0;
}
.curved-req {
  position: absolute;
  z-index: 2;
  width: 100%;
}
.curved-req:last-of-type {
  bottom: 0;
}
.curved-req:last-of-type {
  transform: rotate(180deg);
}
.mfl-tfi-comparison-images {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  padding: 4rem 0;
}
.mfl-tfi-comparison-images > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
}
.mfl-tfi-comparison-images > div > p {
  color: white;
  padding-right: 1rem;
}
.mfl-tfi-comparison-images > div img:nth-child(1) {
  padding-right: 0.5rem;
}

.mfl-tfi-comparison-images > div > img {
  width: 100%;
}
.chart-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.defect-chart-img {
  width: 100%;
  margin: 2.5rem 0;
}
.chart-options-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.chart-options {
  width: 46%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.chart-options > h3 {
  font-size: 14px;
}

.chart-options-title {
  display: flex;
  align-items: center;
}
.chart-options-title > p {
  font-size: 10px;
  font-weight: 700;
  color: #313132;
}
.chart-options-title > svg {
  margin-right: 0.5rem;
}

.ut-advantages-wrapper,
.ut-disadvantages-wrapper {
  margin: 2.5rem 0;
}
.ut-advantages-title,
.ut-advantages-body,
.ut-disadvantages-title,
.ut-disadvantages-body {
  display: flex;
  align-items: center;
}
.ut-advantages-title > h3 {
  padding-left: 0.5rem;
  color: var(--green);
}
.ut-disadvantages-title > h3 {
  padding-left: 0.5rem;
  color: #cf5048;
}
.ut-advantages-body,
.ut-disadvantages-body {
  flex-direction: column;
  margin-top: 1rem;
}
.ut-advantages-body-option,
.ut-disadvantages-body-option {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 0.5rem 0;
}
.ut-advantages-body-option > p,
.ut-disadvantages-body-option > p {
  font-size: 13px;
  width: 93%;
}
/* .ut-advantages-body-option > svg,
.ut-disadvantages-body-option > svg {
  width: 7%;
} */

@media screen and (min-width: 576px) {
}
@media screen and (min-width: 768px) {
  .pig-info > img {
    width: 50%;
  }
  .defect-chart-img {
    width: 70%;
    margin: 2.5rem auto;
  }
  .chart-options {
    width: 30%;
  }
  .card-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 0 1.5rem 1.5rem;
  }
  .card-title > h3 {
    padding-left: 0.8rem;
  }
  .magnetization-card .card-body > img {
    width: 40%;
  }
  .magnetization-card .card-body > p {
    width: 50%;
    margin-top: 0;
  }
}
@media screen and (min-width: 992px) {
  .magnetization-card {
    width: 100%;
  }
  /* chart  */

  .chart-wrapper,
  .chart-wrapper > p {
    margin-bottom: 2.5rem;
  }
  .defect-chart-img {
    width: 50%;
    margin: 0;
  }
  .chart-options-wrapper {
    margin: 1rem 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50%;
  }
  .chart-options {
    margin-bottom: 0;
    width: 50%;
  }
  .chart-options-title > p {
    font-size: 12px;
  }
  /* ut disadvantages & advantages */

  .ut-advantages-disadvantages-wrapper {
    display: flex;
  }
  .ut-advantages-wrapper,
  .ut-disadvantages-wrapper {
    width: 50%;
  }

  /* pigs  */
  .pig-info {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
  .pig-info > img {
    width: 30%;
    margin: 2.5rem 0;
  }
  .pig-info > p {
    width: 50%;
    align-self: center;
  }
  .pig-info > p:not(:nth-child(1)) {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
}
@media screen and (min-width: 1400px) {
}
