.title,
.oil-gas-services {
  flex-direction: row-reverse;
}

.industrial-tech-wrapper>.container>.list>li {
  margin-right: 0;
}

/* media  */

@media screen and (min-width: 992px) {
  .industrial-tech-wrapper>.container>.title {
    margin-right: 0;
    margin-left: 2rem;
  }
}