.inspection-items-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.title-number {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.title-number>h3 {
  color: white;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  right: 0.5ewm;
}

.coating-rehabilitation-projects-title-number>h3 {
  left: -0.3rem;
}

.item {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  width: 100%;
}

.title>span {
  padding-top: 0.3rem;
  padding-left: 0.3rem;
}

/* media */

@media screen and (min-width: 576px) {}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 992px) {
  .item {
    margin: 2rem 0;
    display: flex;
    align-items: center;
    width: 49%;
  }
}

@media screen and (min-width: 1200px) {}

@media screen and (min-width: 1400px) {}