{% load static %} {% load i18n %} {% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block more_css %}
        <link rel="stylesheet" href="{% static 'css/footer.css' %}" />
      {% if LANGUAGE_CODE == 'fa' %}
        <link rel="stylesheet" href="{% static 'css/footer-fa.css' %}">
      {% endif %}
    {% endblock more_css %}
    <title>Document</title>
</head>
<body>
    <footer>
      {% if LANGUAGE_CODE == 'fa' %}
        <img src="{% static 'svgs/footer-hexa-fa.svg' %}" alt='alt="footer hexagons svg"'>
      {% else %}
        <img src="{% static 'svgs/footer-hexa.svg' %}" alt="footer hexagons svg">
      {% endif %}
      <div class="container">
        <img class='footer-top-icon' src="{% static 'svgs/footer-top-icon.svg' %}" alt="footer top svg">
        <img onclick='goUpFunction()' id='go-up-btn' src="{% static 'svgs/go-up-btn.svg' %}" alt="go up button">
        <div class="lists-wrapper">
          <ul class="footer-list">
            <div class="title">
              <img src=" /static/capabilities/svgs/3hexaIcon.svg " alt="3hexaIcon">
              <h3>{% trans "Useful Links" %}</h3>
            </div>
            <li>
              <img src=" /static/svgs/s-green-hexa.svg " alt="3hexaIcon">
              <a href="{% url 'capabilities:capabilities' %}">{% trans "Capabilities" %}</a>
            </li>
            <li>
              <img src=" /static/svgs/s-green-hexa.svg " alt="3hexaIcon">
              <a href="/">{% trans "Process Units" %}</a>
            </li>
            <li>
              <img src=" /static/svgs/s-green-hexa.svg " alt="3hexaIcon">
              <a href="/">{% trans "Civil Projects" %}</a>
            </li>
            <li>
              <img src=" /static/svgs/s-green-hexa.svg " alt="3hexaIcon">
              <a href="/">{% trans "Industrial Technology" %}</a>
            </li>
            <li>
              <img src=" /static/svgs/s-green-hexa.svg " alt="3hexaIcon">
              <a href="/">{% trans "Management Systems" %}</a>
            </li>
          </ul>
          <ul class="footer-list">
            <div class="title">
              <img src=" /static/capabilities/svgs/3hexaIcon.svg " alt="3hexaIcon">
              <h3>{% trans "Products and Services" %}</h3>
            </div>
            <li>
              <img src=" /static/svgs/s-green-hexa.svg " alt="3hexaIcon">
              <a href="{% url 'product-and-services:inline-inspection' %}">{% trans "Inline Inspection" %}</a>
            </li>
            <li>
              <img src=" /static/svgs/s-green-hexa.svg " alt="3hexaIcon">
              <a href="{% url 'product-and-services:unpigable-pipelines' %}">{% trans "Unpigable Pipelines" %}</a>
            </li>
            <li>
              <img src=" /static/svgs/s-green-hexa.svg " alt="3hexaIcon">
              <a href="{% url 'product-and-services:under-water-inspection' %}">{% trans "Under Water Inspection-ROV" %}</a>
            </li>
            <li>
              <img src=" /static/svgs/s-green-hexa.svg " alt="3hexaIcon">
              <a href="{% url 'product-and-services:cleaning-pigs' %}">{% trans "Cleaning Pigs" %}</a>
            </li>
            <li>
              <img src=" /static/svgs/s-green-hexa.svg " alt="3hexaIcon">
              <a href="{% url 'product-and-services:cathodic-protection' %}">{% trans "Coating and Cathodic Protection" %}</a>
            </li>
          </ul>
          <ul class="footer-list">
            <div class="title">
              <img src=" /static/capabilities/svgs/3hexaIcon.svg " alt="3hexaIcon">
              <h3>{% trans "Contact Us" %}</h3>
            </div>
            <li>
              <img src="{% static 'svgs/phone.svg' %}" alt="phone icon">
              <a href="tel:02122006761">{% trans "+98-021-22006761" %}</a>
            </li>
            <li>
              <img src="{% static 'svgs/printer.svg' %}" alt="fax icon">
              <a href="tel:02122638734">{% trans "+98-021-22638734" %}</a>
            </li>
            <li>
              <img src="{% static 'svgs/mail.svg' %}" alt="fax icon">
              <a href="mailto:info@abdi-group.com">info@abdi-group.com</a>
            </li>
            <li id='address'>
              <img src="{% static 'svgs/map-pin.svg' %}" alt="map pin icon">
              <p>{% trans "Un.5 No-1 Rokni Dead End, Khorosh St, Varaste St, Dolat <br> St, Pasdaran, Tehran" %}</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="policy-wrapper">
        <div class="container">
          <div class="social-media-btns-wrapper">
            <a href=""><img src="{% static 'svgs/facebook.svg' %}" alt="Facebook"></a>
            <a href="https://ir.linkedin.com/in/hossein-abdi-5889463a"><img src="{% static 'svgs/linkedin.svg' %}" alt="Linkedin"></a>
            <a href="/"><img src="{% static 'svgs/telegram.svg' %}" alt="Telegram"></a>
            <a href="/"><img src="{% static 'svgs/whatsapp.svg' %}" alt="Whatsapp"></a>
          </div>
          <div id="navid">
            <a href="mailto:navidazimi1380@gmail.com">
              <img src="{% static 'svgs/navid-logo.svg' %}" alt="navid's logo">
              <p>{% trans "Programmed and designed by" %} <span>{% trans "Navid Azimi" %}</span></p>
            </a>
          </div>
        </div>
        {% comment %} <h3 class='copyright'>{% trans "Copyright © 2021 abdi group. All Rights Reserved" %}</h3> {% endcomment %}
      </div>
    </footer>
    {% block more_js %}
      <script src="{% static 'js/footer.js' %}"></script>
    {% endblock more_js %}
</body>
</html>