{% load static %} {% block more_css %}
<link rel="stylesheet" href="{% static 'css/hero.css' %}" />
{% endblock more_css %}

<section class="hero">
  <div class="main-img-wrapper">
    <div class="img">
      <div class="fade-layer"></div>
      <img class="main-img" src="{% static img %}" alt="hero-img" />
    </div>
  </div>
  <img
    class="desktop-hero-hexa"
    src="{% static 'svgs/desktop-hero-hexa.svg' %}"
    alt="green hexagons"
  />
  <img
    class="main-img-hexagons-right"
    src="{% static 'svgs/mobile-hero-hexas-right.svg' %}"
    alt="mobile green hexagons"
  />
  <img
    class="main-img-hexagons-left"
    src="{% static 'svgs/mobile-hero-hexas-left.svg' %}"
    alt="mobile green hexagons"
  />
</section>
