{% load static %} {% load i18n %} {% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/mobile-navbar.css' %}" />
    {% if LANGUAGE_CODE == 'fa' %}
      <link rel="stylesheet" href="{% static 'css/mobile-navbar-fa.css' %}">
    {% endif %}
</head>
<body>
     <div id="mobile-menu">
        <div id="menu__btns">
          <img
            onclick="goBackBtnF()"
            id="go-back-btn"
            src="{% static 'svgs/go-back-btn.svg' %}"
            alt="go back button"
          />
          <img
            id="close-menu-btn"
            src="{% static 'svgs/menu-X.svg' %}"
            alt="close navbar button"
          />
        </div>
        <ul id="menu-list">
          <li>
            <a href="{% url 'capabilities:capabilities' %}">
              <p>{% trans "Capabilities" %}</p>
              <img src="{% static 'svgs/menu-opt-arrow.svg' %}" alt="arrow icon" />
            </a>
          </li>
          <li id="products">
              <p>{% trans "Products and Services" %}</p>
              <img src="{% static 'svgs/menu-opt-arrow.svg' %}" alt="arrow icon" />
          </li>
          <li>
            <a href="{% url 'company:company' %}">
              <p>{% trans "About Us" %}</p>
              <img src="{% static 'svgs/menu-opt-arrow.svg' %}" alt="arrow icon"
            /></a>
          </li>
          <li>
            <a href="{% url 'news:news-page' %}">
              <p>{% trans "Oil And Gas News" %}</p>
              <img src="{% static 'svgs/menu-opt-arrow.svg' %}" alt="arrow icon" />
            </a>
          </li>
        </ul>
        <ul id="menu-sub-list">
          <li onclick="openSubMenuSub(0)">
            <p>{% trans "Oil and Gas Pipelines" %}</p>
            <img src="{% static 'svgs/menu-opt-arrow.svg' %}" alt="arrow icon" />
          </li>
          <li onclick="openSubMenuSub(1)">
            <a href='{% url 'product-and-services:civil-projects' %}'>{% trans "Civil Projects" %}</a>
            <img src="{% static 'svgs/menu-opt-arrow.svg' %}" alt="arrow icon" />
          </li>
          <li onclick="openSubMenuSub(2)">
            <a href='{% url 'product-and-services:process-units' %}'>{% trans "Process Units" %}</a>
            <img src="{% static 'svgs/menu-opt-arrow.svg' %}" alt="arrow icon" />
          </li>
          <li onclick="openSubMenuSub(3)">
            <a href='{% url 'product-and-services:industrial-technology' %}'>{% trans "Industrial Technology" %}</a>
            <img src="{% static 'svgs/menu-opt-arrow.svg' %}" alt="arrow icon" />
          </li>
          <li onclick="openSubMenuSub(4)">
            <a href='{% url 'product-and-services:management-systems' %}'>{% trans "Management Systems" %}</a>
            <img src="{% static 'svgs/menu-opt-arrow.svg' %}" alt="arrow icon" />
          </li>
        </ul>
        <ul id="menu-sub-list-sub">
          <ul>
            <li>
              <img
                src="{% static 'svgs/small-list-dot.svg' %}"
                alt="small-list-dot"
                width="8px"
              />

              <a href="{% url 'product-and-services:inline-inspection' %}">{% trans "Inline Inspection" %}</a>
            </li>
            <li>
              <img
                src="{% static 'svgs/small-list-dot.svg' %}"
                alt="small-list-dot"
                width="8px"
              />
              <a href="{% url 'product-and-services:unpigable-pipelines' %}">{% trans "Unpigable Pipelines" %}</a>
            </li>
            <li>
              <img
                src="{% static 'svgs/small-list-dot.svg' %}"
                alt="small-list-dot"
                width="8px"
              />
              <a href="{% url 'product-and-services:under-water-inspection' %}">{% trans "Under Water Inspection-ROV" %}</a>
            </li>
            <li>
              <img
                src="{% static 'svgs/small-list-dot.svg' %}"
                alt="small-list-dot"
                width="8px"
              />
              <a href="{% url 'product-and-services:cleaning-pigs' %}">{% trans "Cleaning Pigs" %}</a>
            </li>
            <li>
              <img
                src="{% static 'svgs/small-list-dot.svg' %}"
                alt="small-list-dot"
                width="8px"
              />
              <a href="{% url 'product-and-services:repairing' %}">{% trans "Repairing" %}</a>
            </li>
            <li>
              <img
                src="{% static 'svgs/small-list-dot.svg' %}"
                alt="small-list-dot"
                width="8px"
              />
              <a href="{% url 'product-and-services:valve-clinic' %}">{% trans "Valve Clinic" %}</a>
            </li>
            <li>
              <img
                src="{% static 'svgs/small-list-dot.svg' %}"
                alt="small-list-dot"
                width="8px"
              />
              <a href="{% url 'product-and-services:cathodic-protection' %}">{% trans "Coating and Cathodic Protection" %}</a>
            </li>
            <li>
              <img
                src="{% static 'svgs/small-list-dot.svg' %}"
                alt="small-list-dot"
                width="8px"
              />
              <a href="{% url 'product-and-services:cathodic-protection' %}>{% trans "Inspection(Fixed Equipment and Instruments)" %}</a>
            </li>
            <li>
              <img
                src="{% static 'svgs/small-list-dot.svg' %}"
                alt="small-list-dot"
                width="8px"
              />
              <a href="{% url 'product-and-services:ffs-ftp' %}">{% trans "Fitness For Services(FFS) and Fitness For Purpose(FFP)" %}</a>
            </li>
            <li>
              <img
                src="{% static 'svgs/small-list-dot.svg' %}"
                alt="small-list-dot"
                width="8px !important"
              />
              <a href="{% url 'product-and-services:leak-detection' %}">{% trans "Leak Detection" %}</a>
            </li>
            <li>
              <img
                src="{% static 'svgs/small-list-dot.svg' %}"
                alt="small-list-dot"
                width="8px"
              />
              <a href='{% url 'product-and-services:leak-detection' %}'>{% trans "Consultant and Project Management" %}</a>
            </li>
          </ul>
          <ul>
            <li>2</li>
            <li>2</li>
            <li>2</li>
          </ul>
        </ul>
        <div onclick="changeSubMenu()" id="sub-menu-btn">
          <img src="{% static 'svgs/menu-opt-arrow.svg' %}" alt="arrow icon" />
        </div>
      </div>
  {% block more_js %}
      {% comment %} <script src="{% static 'js/mobile-navbar.js' %}"></script> {% endcomment %}
    {% if LANGUAGE_CODE == 'fa' %}
      <script src="{% static 'js/mobile-navbar-fa.js' %}"></script>
    {% endif %}
  {% endblock more_js %}
</body>
</html>